################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Shop/FileContentIndex/180228b2-43c6-44fa-bf7a-62c22e50c6e1.vsidx
/.vs/Shop/FileContentIndex/1f5f3010-c6f4-4c03-b340-fb7f74fb554b.vsidx
/.vs/Shop/FileContentIndex/27604e73-b83e-49d0-96dd-d9281a684b93.vsidx
/.vs/Shop/FileContentIndex/2ed401f4-7dec-4036-ad8d-75963e1e87ae.vsidx
/.vs/Shop/FileContentIndex/31080229-ce81-430c-b4f3-31f54e42fd6c.vsidx
/.vs/Shop/FileContentIndex/65083803-1ff1-4660-b8d2-8ccabe739c87.vsidx
/.vs/Shop/FileContentIndex/89b10770-4f6d-4c43-be85-62016c3781ae.vsidx
/.vs/Shop/FileContentIndex/b6326ca9-aab0-4796-930a-33d78a18a457.vsidx
/.vs/Shop/FileContentIndex/cd2b87d3-013b-4fb0-a462-df01a8e59120.vsidx
/.vs/Shop/FileContentIndex/fe31e394-6828-4c67-a4e0-25bb60858d74.vsidx
/.vs/Shop/FileContentIndex/10c274f4-2087-44a5-aafb-6e7ebd810047.vsidx
